AppGroupe2/Connected Services/ServiceSoin/IISoin.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="IISoin" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54208/Service/IISoin.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54208/Service/IISoin.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54208/Service/IISoin.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MetierRvMedical.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IIISoin_GetListeSoins_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListeSoins" />
  </wsdl:message>
  <wsdl:message name="IIISoin_GetListeSoins_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListeSoinsResponse" />
  </wsdl:message>
  <wsdl:message name="IIISoin_AddSoin_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSoin" />
  </wsdl:message>
  <wsdl:message name="IIISoin_AddSoin_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSoinResponse" />
  </wsdl:message>
  <wsdl:message name="IIISoin_UpdateSoin_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSoin" />
  </wsdl:message>
  <wsdl:message name="IIISoin_UpdateSoin_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSoinResponse" />
  </wsdl:message>
  <wsdl:message name="IIISoin_SupprimerSoin_InputMessage">
    <wsdl:part name="parameters" element="tns:SupprimerSoin" />
  </wsdl:message>
  <wsdl:message name="IIISoin_SupprimerSoin_OutputMessage">
    <wsdl:part name="parameters" element="tns:SupprimerSoinResponse" />
  </wsdl:message>
  <wsdl:message name="IIISoin_GetSoinById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSoinById" />
  </wsdl:message>
  <wsdl:message name="IIISoin_GetSoinById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSoinByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IIISoin">
    <wsdl:operation name="GetListeSoins">
      <wsdl:input wsaw:Action="http://tempuri.org/IIISoin/GetListeSoins" message="tns:IIISoin_GetListeSoins_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIISoin/GetListeSoinsResponse" message="tns:IIISoin_GetListeSoins_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSoin">
      <wsdl:input wsaw:Action="http://tempuri.org/IIISoin/AddSoin" message="tns:IIISoin_AddSoin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIISoin/AddSoinResponse" message="tns:IIISoin_AddSoin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSoin">
      <wsdl:input wsaw:Action="http://tempuri.org/IIISoin/UpdateSoin" message="tns:IIISoin_UpdateSoin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIISoin/UpdateSoinResponse" message="tns:IIISoin_UpdateSoin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SupprimerSoin">
      <wsdl:input wsaw:Action="http://tempuri.org/IIISoin/SupprimerSoin" message="tns:IIISoin_SupprimerSoin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIISoin/SupprimerSoinResponse" message="tns:IIISoin_SupprimerSoin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSoinById">
      <wsdl:input wsaw:Action="http://tempuri.org/IIISoin/GetSoinById" message="tns:IIISoin_GetSoinById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIISoin/GetSoinByIdResponse" message="tns:IIISoin_GetSoinById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IIISoin" type="tns:IIISoin">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetListeSoins">
      <soap:operation soapAction="http://tempuri.org/IIISoin/GetListeSoins" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSoin">
      <soap:operation soapAction="http://tempuri.org/IIISoin/AddSoin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSoin">
      <soap:operation soapAction="http://tempuri.org/IIISoin/UpdateSoin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SupprimerSoin">
      <soap:operation soapAction="http://tempuri.org/IIISoin/SupprimerSoin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSoinById">
      <soap:operation soapAction="http://tempuri.org/IIISoin/GetSoinById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IISoin">
    <wsdl:port name="BasicHttpBinding_IIISoin" binding="tns:BasicHttpBinding_IIISoin">
      <soap:address location="http://localhost:54208/Service/IISoin.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>