AppGroupe2/Connected Services/ServicePatient/IPatient.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="IPatient" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54208/Service/IPatient.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54208/Service/IPatient.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54208/Service/IPatient.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MetierRvMedical.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IIPatient_GetListePatients_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListePatients" />
  </wsdl:message>
  <wsdl:message name="IIPatient_GetListePatients_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListePatientsResponse" />
  </wsdl:message>
  <wsdl:message name="IIPatient_AddPatient_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPatient" />
  </wsdl:message>
  <wsdl:message name="IIPatient_AddPatient_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPatientResponse" />
  </wsdl:message>
  <wsdl:message name="IIPatient_UpdatePatient_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePatient" />
  </wsdl:message>
  <wsdl:message name="IIPatient_UpdatePatient_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePatientResponse" />
  </wsdl:message>
  <wsdl:message name="IIPatient_SupprimerPatient_InputMessage">
    <wsdl:part name="parameters" element="tns:SupprimerPatient" />
  </wsdl:message>
  <wsdl:message name="IIPatient_SupprimerPatient_OutputMessage">
    <wsdl:part name="parameters" element="tns:SupprimerPatientResponse" />
  </wsdl:message>
  <wsdl:message name="IIPatient_GetPatientById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientById" />
  </wsdl:message>
  <wsdl:message name="IIPatient_GetPatientById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IIPatient">
    <wsdl:operation name="GetListePatients">
      <wsdl:input wsaw:Action="http://tempuri.org/IIPatient/GetListePatients" message="tns:IIPatient_GetListePatients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIPatient/GetListePatientsResponse" message="tns:IIPatient_GetListePatients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPatient">
      <wsdl:input wsaw:Action="http://tempuri.org/IIPatient/AddPatient" message="tns:IIPatient_AddPatient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIPatient/AddPatientResponse" message="tns:IIPatient_AddPatient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePatient">
      <wsdl:input wsaw:Action="http://tempuri.org/IIPatient/UpdatePatient" message="tns:IIPatient_UpdatePatient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIPatient/UpdatePatientResponse" message="tns:IIPatient_UpdatePatient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SupprimerPatient">
      <wsdl:input wsaw:Action="http://tempuri.org/IIPatient/SupprimerPatient" message="tns:IIPatient_SupprimerPatient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIPatient/SupprimerPatientResponse" message="tns:IIPatient_SupprimerPatient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPatientById">
      <wsdl:input wsaw:Action="http://tempuri.org/IIPatient/GetPatientById" message="tns:IIPatient_GetPatientById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIPatient/GetPatientByIdResponse" message="tns:IIPatient_GetPatientById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IIPatient" type="tns:IIPatient">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetListePatients">
      <soap:operation soapAction="http://tempuri.org/IIPatient/GetListePatients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPatient">
      <soap:operation soapAction="http://tempuri.org/IIPatient/AddPatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePatient">
      <soap:operation soapAction="http://tempuri.org/IIPatient/UpdatePatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SupprimerPatient">
      <soap:operation soapAction="http://tempuri.org/IIPatient/SupprimerPatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatientById">
      <soap:operation soapAction="http://tempuri.org/IIPatient/GetPatientById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IPatient">
    <wsdl:port name="BasicHttpBinding_IIPatient" binding="tns:BasicHttpBinding_IIPatient">
      <soap:address location="http://localhost:54208/Service/IPatient.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>